body,
h1 {
    font-family: jost-semi, Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

/* Navigation Bar Stuff */

.navButton {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#logo {
    margin-right: auto;
    align-self: inherit;
}

#navbar {
    display: flex;
    flex-direction: row;
    max-height: 5rem;
}

/* Content Stuff */

#title {
    font-family: jost-black;
    text-align: center;
    font-size: clamp(5rem, 10vw, 10rem);
}

#time,
#date {
    text-align: center;
    font-size: clamp(1.75rem, 2.75vw, 3rem);
}

#blockcontainer {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.descrip {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 10;
}

.percent {

    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    outline-width: 0.1rem;
    outline-style: solid;
    outline-color: #737373;
    margin: 1rem;
    border-radius: 2rem;
    min-width: 16rem;
    min-height: 9rem;
}

.progressbar {
    background-color: red;
    width: 85%;
    /*Outline of Progress Bar*/
    padding: 0;
    /*Height of filling for progress bar*/
    height: 0.25rem;
    /*how round the element is*/
    border-radius: 2rem;
    /* (height of inner div) / 2 + padding */

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
}

.progressbar>div {
    top: auto;
    bottom: auto;
    background-color: lightblue;
    width: 50%;
    height: 100%;
    /*how round the element is*/
    border-radius: 2rem;
}